.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #2D333B;
  color: #9DA7AF;
}

.fa {
  padding: 10px;
  font-size: 25px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.6;
}
