
div.banner {
	width: 90vw; 
	border-radius: 5px; 
	padding: 5px;
	display:flex; 
	flex-direction:row;
	justify-content: space-between;
	align-items: flex-start; 
	margin-bottom:20px;
  margin-top: 20px;

  /* From https://css.glass */
  /*background: rgba(144, 64, 64, 0.55);*/
	background: rgb(40, 40, 40, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.3px);
  -webkit-backdrop-filter: blur(13.3px);
}

p.banner {
	font-size:16px;
	margin-top:0px;
	margin-bottom:0px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #2D333B;
  color: #9DA7AF;
}

.fa {
  padding: 5px;
  font-size: 15px;
  width: 18px;
  height: 18px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

img.gallery_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

div.links{
	margin: 15px 20px 0px 0px;
	width: 90%;
	background-color: rgb(30, 30, 30);
	border-radius: 8px; 
	padding: 10px 15px 10px 15px;
	display:flex; 
	flex-direction:row; 
	justify-content: space-between;
	align-items:flex-end;
}

a.links{
	margin-left:8px;
}
